body {
    padding: 0;
    margin: 0;
    background: url("/images/header_tail.png") repeat-x;
    background-position: top left;
    background-color: #eeeeee;
    color: #ffcb62;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

a {
    color: #ffcb62;
    text-decoration: none;
}

#logo {
    width: 200px;
    position: relative;
    left: 150px;
}

nav {
    width: 55%;
    background-color: #830101;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    line-height:300%;
    margin: 0 auto;
    padding: 0 0 0 50px;
}

nav > ul{
    display: flex;
}

nav > ul > li{
    flex-basis: 100%;
    display: inline-block;
}

nav > ul > li:after{
    content: url(/images/mini_pizza.png);
    position: relative;
    right: -30px;
    top: 12px;
}

nav > ul > li:last-child::after {
    content: none;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: 233px;
    background-color: #830101;
    list-style-type: none;
    padding: 0 10px;
    width: 170px;
    height: auto;
    border-bottom-left-radius: 60px;
    overflow: hidden;
    z-index: 999;
}

#dropdown-menu li {
    line-height: 250%;
    height: 50px;
    text-align: center;
}

#dropdown-menu li:last-child{
    margin-bottom: 10px;
}

#wrapper{
    min-height: 1000px;
}

section {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}

#inset-white{
    margin-top: 50px;
    padding: 40px;
    background-color: #FFF;
    box-shadow: inset 0 0 10px #000;
    color: #830101;
    text-align: center;
}

#inset-white .offers-container{
    padding: 30px;
    background-color: #EEE;
    box-shadow: 0 0 10px #000;
    margin-bottom: 40px;
    text-align: center;
}

#inset-white .offers-container > img{
    max-width: 100%;
    margin-top: 20px;
}

#slider {
    height: 400px;
    width: 1000px;
    position: relative;
    margin: 50px auto 50px;
    box-shadow: 0 0 30px #000;
}

#slider > img {
    width: 1000px;
    height: 400px;
    position: absolute;
    transition: opacity 1.5s linear;
    opacity: 0;
}

#slider #left-arrow, #slider #right-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#slider #right-arrow{
    right: 0;
}

#slider > img.visible{
    opacity: 1;
}

#more, #history {
    background-color: #fff;
    padding: 60px;
    color: #830101;
    box-shadow: 0 0 30px #000;
}

#history {
    margin-bottom: 50px;
}

.left {
    float: left;
    width: 45%;
}

.right {
    float: right;
    width: 45%;
}

.clear {
    clear: both;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #830101;
    margin-top: 50px;
    position: relative;
    bottom: 0;
}

#footer-wrapper {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 0.8em;
    box-sizing: border-box;
}

#footer-wrapper > .left {
    width: 30%;
}

#footer-wrapper > .right {
    width: 60%;
    text-align: right;
}

#mininav li{
    display: inline-block;
    background: url('/images/menu_border.png') right repeat-y;
    padding: 0 10px 0 5px;
}

#mininav li:last-child {
    background: none;
}

#to_top_btn {
    position: fixed;
    bottom: 60px;
    right: 60px;
    opacity: 0;
    transition: opacity 0.5s linear, right 0.5s linear;
}

#to_top_btn img {
    width: 100px;
}

article p, aside ul {
    font-size: 16px;
    font-weight: initial;
    display: inline-block;
}

article img {
    width: 380px;
}

.wrap{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .8);
    margin: 20px 10px;
    width: 275px;
    height: 169px;
    background-color: #000;
    display: inline-block;
    position: relative;
}

.wrap > img{
    width: 275px;
    vertical-align: middle;
    height: 169px;
    opacity: 1;
    transition: opacity 0.7s linear;
}

.click-to-enlarge{
    width: fit-content;
    margin: 0 auto;
    color: #FFF;
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0;
    bottom: 0px;
}

.darken{
    opacity: 0.4 !important;
}

#gallery-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    display: block;
    transition: opacity 1s linear;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

.show_gallery_overlay {
    opacity: 1 !important;
}

.close-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}

.close-btn img{
    width: 25px;
}

.gallery-main-img{
    position: relative;
    height: 100%;
    width: 100%;
}

#gallery-overlay .gallery-main-img > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 20px 10px #000;
}

#gallery-overlay .images-list{
    position: absolute;
    height: 150px;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    box-shadow: 0 -6px 10px #000;
    background-color: rgba(0,0,0,.5);
}

#gallery-overlay .images-list img{
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px #000;
    left: 0;
    right: 0;
    vertical-align: top;
    margin: 0 5px;
}

.field{
    background-color: #EEE;
    border: none;
    box-shadow: 0 0 30px rgb(0,0,0);
    padding: 40px 13px;
    margin: 20px 40px;
}

iframe{
    box-shadow: 0 0 20px rgb(0,0,0);
    margin: 50px auto;
}

 .field form {
    width: 50%;
    margin: 40px auto 0;
    text-align: center;
}

 .field form label {
    /*width: 200px;*/
   display: inline-block;
    /*text-align: right;*/
    /*margin-right: 10px;*/
     color: rgb(255,0,0);
     font-size: 10px;
}

input[type="text"],
input[type="email"],
.field form textarea,
input[type="password"],
input[type="tel"],
input[type="email"]
{
    height: 50px;
    width: 80%;
    border: none;
    padding: 10px;
    font-size: 30px;
    color: #830101;
    outline: none;
    margin-top: 30px;
    margin-bottom: 0px;
    box-shadow: inset 0 0 6px #000;
}

.field form textarea
{
    height: 200px;
}

.field.about > p{
    font-weight: normal;
    font-size: 0.8em;
    text-align: left;
    margin-top: 40px;
}

input[type="submit"] {
    display: block;
    margin: 40px auto;
    width: 200px;
    height: 75px;
    border: none;
    border-radius: 5px;
    color: #ffcb62;
    background-color: #830101;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 10px #000;
    outline: none;
}



.button, button{
    display: block;
    margin: 40px auto;
    width: 200px;
    height: 75px;
    border: none;
    border-radius: 5px;
    color: #ffcb62;
    background-color: #830101;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 10px #000;
    outline: none;
}

.error-form{
    border: 1px solid rgb(255,0,0);
    background-color: rgba(255,0,0,.2);
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    color: rgb(255,0,0);
}

.error-form ul{
    padding: 0;
}

.error-form li{
    list-style: none;
}
.main {
    overflow: hidden;
    padding:10px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.main >  img {
    display: block;
    max-width: 97%;
    max-height: 97%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px #000;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.overlay_small {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    right: 20%;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity 0.4s linear;
    opacity: 0;
}

.overlay_small > p {
    text-align: center;
    color: #FFF;
    margin: 5px 35px;
}

.overlay_small > p::before {
    background: url('../images/enlarge-icon.png') left no-repeat;
    background-size: 100%;
    content: url('http://i.stack.imgur.com/Icd9n.png');
    position: absolute;
    left: 10px;

}

.show {
    opacity: 1;
}

.miniature {
    text-align: center;
}

.miniature > img {
    vertical-align: middle;
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    box-shadow: 0 0 4px #000;
}

#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    overflow: auto;
    background-color: rgba(0,0,0,.85);
    display: block;
    transition: all 0.5s linear;
    height: 0%;
    opacity: 0;
}

.show_overlay {
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    opacity: 1 !important;
}

#overlay > .close_button, #gallery_overlay > .close_button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    z-index: 1;
}

#overlay .gallery_main_image, #gallery_overlay .gallery_main_image {
    position: relative;
    height: 100%;
    width: 100%;
}

#overlay .gallery_main_image > img, #gallery_overlay .gallery_main_image > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 20px 10px #000;
}

#overlay .images_list, #gallery_overlay .images_list {
    position: absolute;
    height: 150px;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    box-shadow: 0 -6px 10px #000;
    background-color: rgba(0,0,0,.5);
}

#overlay .images_list img, #gallery_overlay .images_list img {
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px #000;
    left: 0;
    right: 0;
    vertical-align: top;
    margin: 0 5px;
}

.pizza_container {
    position: relative;
    width: 274px;
    height: 260px;
    margin: 10px;
    display: inline-block;
    background-color: #FFF;
    float:left;
    font-weight: normal;
    font-size: 0.85em;
}

.pizza_container img {
    max-width: 100%;
    height: 205px;
    opacity: 1;
}

.pizza_container > div:first-child{
    height: 205px;
    position: relative;
    text-align: center;
}


.pizza_container > div:first-child > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.pizza_container > div:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 55px;
    text-align: left;
}

.pizza_container > div:last-child > label{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    display: block;
}

.pizza_container p{
    display: none;
    opacity: 0;
}

.price {
    float: right;
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.price:before {
    content: '\A3';
}

#choices fieldset{
    background-color: #EEE;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 35px 13px;
    margin: 20px 40px;
}

fieldset#base, fieldset#topping, fieldset#extras {
    width: 26%;
    display: inline-block;
    margin: 10px;
    font-weight: normal;
    font-size: 0.85em;
    text-align: left;
 }

#choices fieldset legend {
    position: relative;
    top: 25px;
    text-align: center;
    font-weight: bold;
}

#buttons button {
    display: inline-block;
    margin: 40px 20px 0;
}

#basket{
    position: fixed;
    right: -305px;
    /*right: 0px;*/
    top: 50%;
    transform: translateY(-50%);
    width: 375px;
    /*height: 300px;*/
}

#basket-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#total-box {
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    border: 1px solid rgb(0,0,0);
    box-shadow: 0 0 10px #000;
    background-color: #EEE;
    min-height: 300px;
    max-height: 600px;
    padding: 5px 20px;
    color: #830101;
    overflow-y: scroll;
}

#update {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 200px;
    line-height: 90px;
    font-size: 80px;
    opacity: 0;
    transition: opacity 0.5s linear;
    color: #830101;
}

#update.show-price {
    opacity: 1 !important;
}

#update::before {
    content: '\A3';
}

#empty-basket {
    padding: 50px;
    color: tomato;
}

.order-item {
    background-color: #FFF;
    width: 100%;
    box-shadow: inset 0 0 10px #000;
    padding: 20px 10px 20px 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative;
}

/*.order-item:before {*/
    /*background: url('../images/button_close.png') center center no-repeat;*/
    /*content: url('http://i.stack.imgur.com/Icd9n.png');*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*top: 40%;*/
    /*opacity: .2;*/
/*}*/

.order-item span {
    line-height: 150%;
    margin: 2px 0;
    font-size: 17px;
    font-weight: initial;
}

span.left.product_name {
    width: 74%;
    box-sizing: border-box;
}

.topping .left.product_name, .extras .left.product_name {
    font-size: 13px;
    padding-left: 10px;
    line-height: 195%;
}

.topping .left.product_name::before, .extras .left.product_name::before {
    content: '+';
}

span.right.product_price {
    width: 24%;
    color: red;
    text-align: right;
}

.subtotal {
    text-align: right;
    font-weight: initial;
    color: red;
    margin-top: 15px;
    float: right;
}

.subtotal::before {
    content: "Subtotal: \A3";
}

.product_price::before {
    content: "\A3";
}

#total:before {
    content: 'Total: \A3';
}

div.before{
    background: url('../images/button_close.png') center center no-repeat;
    opacity: 0.25;
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.summary-wrapper{
    width: 50%;
    margin: 0 auto;
    box-shadow: inset 0 0 6px rgb(0,0,0);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#order-summary{
    text-align: left;
}

#order-summary span.additions{
    display: block;
    font-size: 0.7em;
    padding-left: 10px;
    font-weight: normal;
}

#order-summary span.additions::before{
    content: '+';
}

#order-final .center p{
    width: 55%;
    margin: 0 auto;
}

#order-final .center label{
    font-size: 10px;
    display: block;
    color: red;
}

#order-final .center p .left{
    text-align: left;
}

#order-final .center p .right{
    text-align: right;
}

#order-final fieldset {
    background-color: #EEE;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 35px 13px;
    margin: 20px 40px;
}

#order-final fieldset legend{
    position: relative;
    top: 35px;
    margin-bottom: 30px;
    font-size: 2em;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #ffcb62;
}

th{
    background-color: #ffcb62;
    height: 40px;
}
th:first-child{
    border-top-left-radius: 10px;
}
th:last-child{
    border-top-right-radius: 10px;
}

tr:last-child td:first-child
{
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

th, td {
    border: 1px solid #ccc;
    width: 10%
}

th:first-child, td:first-child{
    width: 2%;
}

td{
    text-align: center;
    padding: 5px;
    background-color: #fff;
}

td.action form{
    display: inline-block;
}


/**
MEDIA QUERIES
 */
@media screen and (max-width: 1300px) {
    #logo {
        /*width: 100px;*/
    }
}

@media screen and (min-width: 1300px) {

}